/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --padding-page: 10px;
  --background-page-url: url("../images/cover-image-dark.png");
  --background-page-color: #000028;
  --color-accent: #ff0070;
  --color-main: #f1b2ce;
  --color-title: #db00ff;
  --color-title-decor: #000028;
  --color-decorated-zone: var(--color-accent);
  --color-button: var(--color-accent);
  --color-button-border-hover: #ff007040;
}
