/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-page-url: url(../images/cover-image-light.png);
  --background-page-color: #fff1f7;
  --color-accent: #ff8dcb;
  --color-accent-hover: #ff007040;
  --color-main: #353430;
  --color-title: #ffc2e6;
  --color-title-decor: var(--color-main);
  --color-decorated-zone: var(--color-main);
  --color-button: var(--color-main);
  --color-button-border-hover: #32312d40;
  --color-section-title: var(--color-main);

  .header__lamp {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-page-url: url(../images/cover-image-light.png);
    --background-page-color: #fff1f7;
    --color-accent: #ff8dcb;
    --color-accent-hover: #ff007040;
    --color-main: #353430;
    --color-title: #ffc2e6;
    --color-title-decor: var(--color-main);
    --color-decorated-zone: var(--color-main);
    --color-button: var(--color-main);
    --color-button-border-hover: #32312d40;
    --color-section-title: var(--color-main);
  }

  html:not(.theme-dark) .header__lamp {
    display: none;
  }
}
